* {
  font-family: "inter";
  transition: background-color 0.3s ease, transform 0.2s ease;
}

:root {
  --black: #000000;
  --white: #ffffff;
  /* Intentions */
  --primary: var(--white);
  --secondary: var(--black);
}

.light {
  --primary: var(--white);
  --secondary: var(--black);
}

.dark {
  --primary: var(--black);
  --secondary: var(--white);
}

body {
  background-color: var(--primary);
}

.songcontainer,
.queuecontainer {
  margin: 25px;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  min-width: 350px;
  max-width: 750px;
  height: auto;
  font-size: 20px;
  margin: 15px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  justify-content: center;
  border: 1px solid var(--secondary);
  color: var(--secondary);
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--secondary);
  background-color: var(--primary);
  color: var(--secondary);
  padding: 12px 20px;
  border-radius: 15px;
  margin: 20px;
}

.card img {
  max-width: 300px;
  height: auto;
}

.button {
  background-color: var(--secondary);
  color: var(--primary);
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.modebtn,
.queuebtn {
  background-color: var(--secondary);
  color: var(--primary);
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.openbtn {
  background-color: var(--secondary);
  color: var(--primary);
  max-width: 120px;
  position: fixed;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  right: 25px;
  bottom: 25px;
}
