*{
    font-family: "inter";
}

:root {
  --black: #000000;
  --white: #ffffff;
    /* Intentions */
  --primary: var(--white);
  --secondary: var(--black);
}

.light {
  --primary: var(--white);
  --secondary: var(--black);
}

.dark {
  --primary: var(--black);
  --secondary: var(--white);
}

body {
    background-color: var(--primary);
}

.container {
    margin: 25px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    min-width: 350px;
    max-width: 750px;
    height: auto;
    font-size: 20px;
    margin: 15px;
    border-radius: 10px;
    padding: 10px;
    text-align: center ;
    justify-content: center;
    border: 1px solid var(--secondary);
    color: var(--secondary);
}

.site-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--secondary);
    background-color: var(--primary);
    color: var(--secondary);
    padding: 12px 20px;
    border-radius: 15px;
    margin: 20px;
}                                

.card img {
  max-width: 500px;
  height: auto;
}