* {
  font-family: "inter";
  transition: background-color 0.3s ease, transform 0.2s ease;
}

:root {
  --black: #000000;
  --white: #ffffff;
  /* Intentions */
  --primary: var(--white);
  --secondary: var(--black);
}

.light {
  --primary: var(--white);
  --secondary: var(--black);
}

.dark {
  --primary: var(--black);
  --secondary: var(--white);
}

body {
  background-color: var(--primary);
}

.songcontainer,
.queuecontainer {
  margin: 25px;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--secondary);
  background-color: var(--primary);
  color: var(--secondary);
  padding: 12px 20px;
  border-radius: 15px;
  margin: 20px;
}

.card {
  position: relative;
  width: 400px;
  min-height: 300px;
  font-size: 20px;
  margin: 15px;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 60px;
  text-align: center;
  border: 1px solid var(--secondary);
  color: var(--secondary);
}

.card img {
  height: 300px;
  width: auto;
}

.button {
  position: absolute;
  bottom: 10px; 
  left: 50%;
  transform: translateX(-50%); 
  background-color: var(--secondary);
  color: var(--primary);
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
}

.modebtn,
.queuebtn {
  background-color: var(--secondary);
  color: var(--primary);
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.openbtn {
  border: 1px solid var(--secondary);
  background-color: var(--primary);
  color: var(--secondary);
  max-width: 120px;
  position: fixed;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  right: 25px;
  bottom: 25px;
}

.panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 0; 
  height: 100%;
  background-color: var(--secondary);
  color: var(--primary);
  overflow: hidden;
  transition: width 0.4s ease;
  box-sizing: border-box;
}

.panel.open {
  width: 300px;
  padding: 20px;
}